%h1.wiki_page_title= wt 'Editing wiki page'
- if params[:preview]
  #wiki_content.preview
    %p.title Preview
    = wiki_content @page.content

= wiki_page_form do |f|
  = f.hidden_field :previous_version_number, :value => f.object.last_version_number
  = hidden_field_tag :path, @page.path

  .form_title
    %label= wt 'Title:'
    = f.text_field :title
    
  .form_content
    %label= wt 'Content:'
    #wmd-preview
    #wmd-button-bar
    /
      If our 'content' contains newlines, Erubis will indent them (to make the
      produced HTML look nicer). However those indenting spaces *will* appear
      in the textarea in the user's browser and will get POSTed by the browser
      when submitting the form and thus would get written to the wiki content
      into the database.  The gsub's below replace the linebreaks ('\r\n')
      with UTF8 linefeeds (same way HAML solves this problem), which are
      ignored by Erubis and should be correctly displayed as linebreaks by
      modern browsers.
    = f.text_area(:content, :id => 'wmd-input').gsub("\n", '&#x000A;').gsub("\r",'').html_safe

  .form_comment
    %label= wt 'Comment on this change (optional):'
    = f.text_field :comment

  .recaptcha
    %label= wt 'Prove not robot'
    - if alert
      %p.alert= wt alert
    = raw recaptcha_tag(:ajax, :display=>{:theme=>'white'})
    %br

  .tos
    %label= "利用規約"
    %p 以下の利用規約への同意が必要です。最後のチェックボックスにチェックを入れてお進みください。
    %p
      %strong 1.投稿テキストの著作権等の帰属については以下の各号に定めるとおりとします。
    %p （1）著作権（著作権法第21条から第28条までにおいて定義される権利。以下同じ。）については、投稿した利用者から譲渡され当社に帰属します。
    %p （2）著作者人格権（著作権法第18条から第20条までにおいて定義される権利。以下同じ。）については、投稿した利用者は、自らまたは第三者をして、当社または当社の指定する第三者に対して行使せず、またはさせないものとします。
    %p （3）第１号および第２号の対価として、当社は、投稿した利用者に対し、何らの支払も要しないものとします。
    %p （4）投稿した利用者は、投稿テキストの著作権を自ら有することまたは、権利者から投稿するために必要なライセンスを得ていることを当社に表明し、保証します。万一、第三者との間で何らかの紛争が発生した場合には、投稿した利用者の費用と責任において問題を解決するとともに、当社に何等の迷惑または損害を与えないものとします。

    %p
      %strong 2.投稿マルチメディアデータの著作権等の帰属については、以下の各号に定めるとおりとします。
    %p （1）投稿した利用者は、自身が投稿した投稿マルチメディアデータに記録されている内容に関する一切の特許権、商標権、企業秘密、著作権若しくはその他の財産権および個人情報を含むプライバシー権、肖像権などの諸権利について保有するか、または、当社をして投稿マルチメディアデータの利用をさせるのに必要なライセンス、権利、同意および許可を有していることを保証するものとします。万一、第三者との間で何らかの紛争が発生した場合には、投稿した利用者の費用と責任において問題を解決するとともに、当社に何等の迷惑または損害を与えないものとします。
    %p （2）著作権については、投稿した利用者または第三者に留保されます。
    %p （3）著作者人格権については、投稿した利用者は、自らまたは第三者をして、当社または当社の指定する第三者に対して行使せず、またはさせないものとします。
    %p （4）投稿マルチメディアデータを投稿した利用者は当社に対し、非独占的に、世界中で当該投稿マルチメディアデータの表示、編集、複製、転載、配布などを行い、かつ当社が有益であると判断した場合にはその内容を利用（出版、映像、翻訳、放送、演劇化などの派生著作物の作成および利用の場合を含む）することができるためのライセンス（サブライセンスが可能であり、譲渡が可能なライセンス）を、無償で付与するものとします。

    %p
      %strong 3.当社は、第１項に基づく著作権の帰属に基づき、または前項に基づくライセンスに基づき、投稿内容の保存、複製、転載などを行い、当社が有益であると判断した場合にはその内容を利用（出版、映像、翻訳、放送、演劇化などの利用の場合を含む）することができます。これらを行う場合でも、当社は投稿した利用者に対し、何らの支払も要しないものとし、また、当社は投稿した利用者の氏名、会員IDおよびハンドルネーム、その他の投稿した利用者を表象する名称および情報を表示しないことができるものとします。
    %p
      %strong 4.投稿内容の利用について、利用者および第三者に損害が発生したとしても、当社は一切責任を負わないものとします。
    %p
      %strong 5.当社は、第1項に基づき当社に著作権が帰属する本サービスにおける投稿テキストを、会員が本サービスまたは当社が運営する他のサービスにおいて利用することを許諾します。

    %p
      %input{:type=>"checkbox", :name=>"tos", :value=>"true"}
        %b 利用規約に同意します。
        - if @tos_checked == false
          %p.alert= wt flash[:tos_alert]

  .submit
    %input.submit{:name => "save", :type => "submit", :value => wt('Save page')}/
    -#%input.submit{:name => "preview", :type => "submit", :value => wt('Preview')}/
    %input.submit{:name => "cancel", :type => "submit", :value => wt('Cancel')}/
= wiki_page_attachments(@page)
