- content_for :wiki_page do
  #wiki_page
    = wiki_page_info
    = wiki_page_actions

%article#wiki_content
  %h1= h @page.title
  = wiki_content @page.content

%aside#subMenu
  %h1= h @sidebar.title
  = wiki_content @sidebar.content
