- content_for :wiki_page do
  #wiki_page
    = wiki_page_info
    = wiki_page_actions

%article#wiki_content
  %h1= h @page.title
  = wiki_content @page.content

-#%aside#subMenu
  %h2 主なコンテンツ
  %ul#subList
    %li うつペディア編集の仕方
  %ul.banner
    /
      %li
        = link_to image_tag('banner-sample.png', :alt => 'バナー'), 'http://u2plus.jp/'
