!!!
%html{"xmlns:og" => "http://ogp.me/ns#",
  "xmlns:fb" => "http://www.facebook.com/2008/fbml",
  "xmlns:mixi" => "http://mixi-platform.com/ns#"}
  %head
    - if @page && @page.toppage?
      %title うつペディア - みんなで作るうつ情報wiki事典 | 認知行動療法のU2plus
    - else
      %title= @page ? "#{@page.title} - うつペディア" : 'うつペディア'
    %meta{:property => 'og:title', :content => 'うつペディア - みんなで作るうつ情報wiki事典 | 認知行動療法のU2plus'}
    %meta{:property => 'og:type', :content => 'website'}
    %meta{:property => 'og:image', :content => '/assets/logo_word.png'}
    %meta{:property => 'og:url', :content => 'http://u2pedia.u2plus.jp/wiki'}
    %meta{:property => 'og:site_name', :content => 'U2pedia'}
    %meta{:property => 'og:description',
      :content => 'うつの症状、傷病手当、自立支援申請、服薬、リラクゼーション、休職中の過ごし方など、みんなでつくるうつ情報と体験談のページです。ワンストップでうつに関する情報を提供できることを目的としています。'}
    %link(rel="apple-touch-icon" href="apple-touch-icon.png")
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    - if @page && @page.toppage?
      %meta{:content => "うつの症状、傷病手当、自立支援申請、服薬、リラクゼーション、休職中の過ごし方など、みんなでつくるうつ情報と体験談のページです。ワンストップでうつに関する情報を提供できることを目的としています。", :name => "description"}
    - if action_name != 'show'
      %meta{:content => 'noindex,nofollow', :name => 'robots'}
    = csrf_meta_tags
    :javascript
      if (window.location.hostname == 'u2pedia.u2plus.jp') {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22159720-7']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }
  %body{:class => "#{controller_name} #{controller_name}_#{action_name}"}
    #wrapper
      %header#headerU2plus
        .left
          = link_to image_tag('logo.png', :alt => 'U2plus'), 'http://u2plus.jp/'
        -#%p#u2Read うつ×認知行動療法×WEB×セラピスト
        .login.right
          - if current_user
            = link_to image_tag(current_user.image, size: '20x20'), "https://twitter.com/#{current_user.screen_name}", target: "_blank"
            = current_user.screen_name
            = button_to 'ログアウト', logout_path, :method => :delete
          - else
            /
              = link_to 'ログイン', '/auth/twitter'

      %header#headerPedia
        .left
          %h1
            = link_to image_tag('logo_word.png', :alt => 'うつペディア'), wiki_page_path
          %p みんなで情報をあつめるという特性上、情報の正確性は保証できません
        #cse-search-form.right
        #socialicon.right
          %ul
            %li
              = facebook_like_button
            %li
              = twitter_share_button
              = twitter_share_button_script
            %li
              = google_plus_button
              = google_plus_button_script
            %li.share
              = mixi_check_button
              = mixi_check_button_script
            %li.share
              = facebook_share_button

      - if content_for? :wiki_page
        = yield :wiki_page

      /- if @page.toppage?
      #topics
        %h2
          おすすめ記事
        %ul
          %li= link_to '不眠を和らげる方法', '/wiki/%E4%B8%8D%E7%9C%A0%E3%82%92%E5%92%8C%E3%82%89%E3%81%92%E3%82%8B%E6%96%B9%E6%B3%95' 
          %li= link_to 'うつ病とデート', '/wiki/%E3%81%86%E3%81%A4%E7%97%85%E3%81%A8%E3%83%87%E3%83%BC%E3%83%88'
          %li= link_to '休職に関する体験談', '/wiki/%E4%BC%91%E8%81%B7%E3%81%AB%E9%96%A2%E3%81%99%E3%82%8B%E4%BD%93%E9%A8%93%E8%AB%87/TIPS'
          %li= link_to '薬が切れてしまったときには', '/wiki/%E8%96%AC%E3%81%8C%E5%88%87%E3%82%8C%E3%81%A6%E3%81%97%E3%81%BE%E3%81%A3%E3%81%9F%E3%81%A8%E3%81%8D%E3%81%AB%E3%81%AF'

      #main
        = yield

      #subFooter
        %p#goTop
          = link_to '上へ', '#wrapper'
      
      %footer
        .logo
          = link_to image_tag('logo_foot.gif', :alt => 'U2plus'), 'http://u2plus.jp/'
        %ul.nfoot
          %li= link_to '運営会社', 'http://u2plus.co.jp/'
          %li= link_to 'お問い合わせ', 'http://u2plus.jp/contact'
          %li= link_to 'ブログ', 'http://blog.u2plus.jp'
        %p#copyright Copyright &copy; U2plus All rights reserved.

    = javascript_include_tag "http://www.google.com/jsapi"
    :javascript
      google.load('search', '1', {language : 'ja', style : google.loader.themes.GREENSKY});
      google.setOnLoadCallback(function() {
        var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
          '014074490963648789926:mzgmz0hupqw', customSearchOptions);
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        var options = new google.search.DrawOptions();
        options.enableSearchboxOnly("http://www.google.com/cse?cx=014074490963648789926:mzgmz0hupqw", null, true);
        customSearchControl.draw('cse-search-form', options);
      }, true);
