!!!
%html
  %head
    - if @page && @page.toppage?
      %title うつペディア - みんなで作るうつ情報wiki辞典 | 認知行動療法のU2plus
    - else
      %title= @page ? "#{@page.title} - うつペディア" : 'うつペディア'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    - if @page && @page.toppage?
      %meta{:content => "うつの症状、傷病手当、自立支援申請、服薬、リラクゼーション、休職中の過ごし方など、みんなでつくるうつ情報と体験談のページです。ワンストップでうつに関する情報を提供できることを目的としています。", :name => "description"}
    = csrf_meta_tags
  %body{:class => "#{controller_name} #{controller_name}_#{action_name}"}
    #wrapper
      %header#headerU2plus
        .left
          = link_to image_tag('logo.gif', :alt => 'U2plus'), 'http://u2plus.jp/'
        -#%p#u2Read うつ×認知行動療法×WEB×セラピスト
      %header#headerPedia
        .left
          %h1= link_to 'うつペディア', wiki_page_path
          %p みんなで情報をあつめるという特性上、情報の正確性は保証できません
        #cse-search-form.right
    
      - if content_for? :wiki_page
        = yield :wiki_page
      
      #main
        = yield

      #subFooter
        %p#goTop
          = link_to '上へ', '#wrapper'
      
      %footer
        .logo
          = link_to image_tag('logo_foot.gif', :alt => 'U2plus'), 'http://u2plus.jp/'
        %ul.nfoot
          %li= link_to '利用規約', 'http://u2plus.jp/tos'
          %li= link_to 'プライバシーポリシー', 'http://u2plus.jp/privacy'
          %li= link_to '運営会社', 'http://u2plus.co.jp/'
          %li= link_to 'お問い合わせ', 'http://u2plus.jp/contact'
          %li= link_to 'ブログ', 'http://blog.u2plus.jp'
        %p#copyright Copyright &copy; U2plus All rights reserved.

    = javascript_include_tag "http://www.google.com/jsapi"
    :javascript
      google.load('search', '1', {language : 'ja', style : google.loader.themes.GREENSKY});
      google.setOnLoadCallback(function() {
        var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
          '014074490963648789926:mzgmz0hupqw', customSearchOptions);
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        var options = new google.search.DrawOptions();
        options.enableSearchboxOnly("http://www.google.com/cse?cx=014074490963648789926:mzgmz0hupqw", null, true);
        customSearchControl.draw('cse-search-form', options);
      }, true);
